doctype html
html(lang="en", class="no-js")
	head

		//- Meta include
		- var title = "Grid";
		include meta

	body

		.wrapper

			//- Adminbar include
			//- include adminbar

			//- Header include
			include header

			//- Sidebar Left include
			//- include sidebarleft

			// Main
			main.main

				// Page Topic
				.topbar
					h1 <i class="fa fa-bullseye"></i> Grid

				section.content

					section.section.section-dark

						.container-fluid
							.row

								// Grid 100%
								.col-xs-12
									// Hint
									.hint.hint-bg
										h2.text Grid 100%

								// Grid 50%
								.col-xs-6
									// Hint
									.hint.hint-bg
										h2.text Grid 50%
								// Grid 50%
								.col-xs-6
									// Hint
									.hint.hint-bg
										h2.text Grid 50%

								// Grid 33%
								.col-xs-4
									// Hint
									.hint.hint-bg
										h2.text Grid 33%
								// Grid 33%
								.col-xs-4
									// Hint
									.hint.hint-bg
										h2.text Grid 33%
								// Grid 33%
								.col-xs-4
									// Hint
									.hint.hint-bg
										h2.text Grid 33%

								// Grid 25%
								.col-xs-3
									// Hint
									.hint.hint-bg
										h2.text Grid 25%
								// Grid 25%
								.col-xs-3
									// Hint
									.hint.hint-bg
										h2.text Grid 25%
								// Grid 25%
								.col-xs-3
									// Hint
									.hint.hint-bg
										h2.text Grid 25%
								// Grid 25%
								.col-xs-3
									// Hint
									.hint.hint-bg
										h2.text Grid 25%

								// Grid 20%
								.col-xs-2_5
									// Hint
									.hint.hint-bg
										h2.text Grid 20%
								// Grid 20%
								.col-xs-2_5
									// Hint
									.hint.hint-bg
										h2.text Grid 20%
								// Grid 20%
								.col-xs-2_5
									// Hint
									.hint.hint-bg
										h2.text Grid 20%
								// Grid 20%
								.col-xs-2_5
									// Hint
									.hint.hint-bg
										h2.text Grid 20%
								// Grid 20%
								.col-xs-2_5
									// Hint
									.hint.hint-bg
										h2.text Grid 20%

								// Grid 16%
								.col-xs-2
									// Hint
									.hint.hint-bg
										h2.text Grid 16%
								// Grid 16%
								.col-xs-2
									// Hint
									.hint.hint-bg
										h2.text Grid 16%
								// Grid 16%
								.col-xs-2
									// Hint
									.hint.hint-bg
										h2.text Grid 16%
								// Grid 16%
								.col-xs-2
									// Hint
									.hint.hint-bg
										h2.text Grid 16%
								// Grid 16%
								.col-xs-2
									// Hint
									.hint.hint-bg
										h2.text Grid 16%
								// Grid 16%
								.col-xs-2
									// Hint
									.hint.hint-bg
										h2.text Grid 16%

								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%
								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%
								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%
								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%
								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%
								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%
								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%
								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%
								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%
								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%
								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%
								// Grid 12%
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 12%


					section.section.section-base

						.container-fluid
							.row

								// Grid 1/12
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 1/12
								// Grid 11/12
								.col-xs-11
									// Hint
									.hint.hint-bg
										h2.text 11/12

								// Grid 2/12
								.col-xs-2
									// Hint
									.hint.hint-bg
										h2.text 2/12
								// Grid 10/12
								.col-xs-10
									// Hint
									.hint.hint-bg
										h2.text 10/12

								// Grid 3/12
								.col-xs-3
									// Hint
									.hint.hint-bg
										h2.text 3/12
								// Grid 9/12
								.col-xs-9
									// Hint
									.hint.hint-bg
										h2.text 9/12

								// Grid 4/12
								.col-xs-4
									// Hint
									.hint.hint-bg
										h2.text 4/12
								// Grid 8/12
								.col-xs-8
									// Hint
									.hint.hint-bg
										h2.text 8/12

								// Grid 5/12
								.col-xs-5
									// Hint
									.hint.hint-bg
										h2.text 5/12
								// Grid 7/12
								.col-xs-7
									// Hint
									.hint.hint-bg
										h2.text 7/12

								// Grid 6/12
								.col-xs-6
									// Hint
									.hint.hint-bg
										h2.text 6/12
								// Grid 6/12
								.col-xs-6
									// Hint
									.hint.hint-bg
										h2.text 6/12

								// Grid 7/12
								.col-xs-7
									// Hint
									.hint.hint-bg
										h2.text 7/12
								// Grid 5/12
								.col-xs-5
									// Hint
									.hint.hint-bg
										h2.text 5/12

								// Grid 8/12
								.col-xs-8
									// Hint
									.hint.hint-bg
										h2.text 8/12
								// Grid 4/12
								.col-xs-4
									// Hint
									.hint.hint-bg
										h2.text 4/12

								// Grid 9/12
								.col-xs-9
									// Hint
									.hint.hint-bg
										h2.text 9/12
								// Grid 3/12
								.col-xs-3
									// Hint
									.hint.hint-bg
										h2.text 3/12

								// Grid 10/12
								.col-xs-10
									// Hint
									.hint.hint-bg
										h2.text 10/12
								// Grid 2/12
								.col-xs-2
									// Hint
									.hint.hint-bg
										h2.text 2/12

								// Grid 11/12
								.col-xs-11
									// Hint
									.hint.hint-bg
										h2.text 11/12
								// Grid 1/12
								.col-xs-1
									// Hint
									.hint.hint-bg
										h2.text 1/12

					section.section.section-light

						.container-fluid
							.row

								// Grid 3/12
								.col-xs-3
									// Hint
									.hint.hint-bg
										h2.text 3/12
								// Grid 3/12
								.col-xs-3
									// Hint
									.hint.hint-bg
										h2.text 3/12
								// Grid 6/12
								.col-xs-6
									// Hint
									.hint.hint-bg
										h2.text 6/12

								// Grid 2/12
								.col-xs-2
									// Hint
									.hint.hint-bg
										h2.text 2/12
								// Grid 8/12
								.col-xs-8
									// Hint
									.hint.hint-bg
										h2.text 8/12
								// Grid 2/12
								.col-xs-2
									// Hint
									.hint.hint-bg
										h2.text 2/12

								// Grid 5/12
								.col-xs-5
									// Hint
									.hint.hint-bg
										h2.text 5/12
								// Grid 4/12
								.col-xs-4
									// Hint
									.hint.hint-bg
										h2.text 4/12
								// Grid 3/12
								.col-xs-3
									// Hint
									.hint.hint-bg
										h2.text 3/12


						//- Footer include
						include footer

			//- Sidebar Right include
			//- include sidebarright

		//- Script inclide
		include script
