
// Header

// Header Scrolled
header.header-sticky

	nav.horizontalnav-sticky

	.topbar

// Header
header.header

	// Logo
	.brand
		a(href="index.php") NimdA 5.1

	// Toolbar
	.toolbar.hidden-xs

		// User Bar
		nav.topnav
			ul.nav.navbar-nav.navbar-right.navbar-bg
				li: a.user(href="", title="Last Login 05-06-2016 17.34", data-toggle="tooltip", data-placement="bottom")
					img.img-circle.avatar(src="assets/img/user.jpg")
					| <em>Hi, <b>ปฐมพงศ์</b></em>
				li: a.separate(href="", title="Profile", data-toggle="tooltip", data-placement="bottom") <i class="fa fa-user"></i>
				li: a(href="", title="Logout", data-toggle="tooltip", data-placement="bottom") <i class="fa fa-power-off"></i>

		// Icon Bar
		nav.topnav
			ul.nav.navbar-nav.navbar-right
				li: a(href="", title="View Site", data-toggle="tooltip", data-placement="bottom") <i class="fa fa-laptop"></i>
				li: a(href="", title="Help & Support", data-toggle="tooltip", data-placement="bottom") <i class="fa fa-question-circle"></i>

// Menu Horizontal
nav.horizontalnav.hidden-xs.hidden-md
	ul.nav.navbar-nav
		li: a(href="index.php") Blank
		li.dropdown
			a.dropdown-toggle(href="#", data-toggle="dropdown") Horizontal Menu <i class="fa fa-chevron-down"></i>
			ul.dropdown-menu
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") Level 1
					ul.dropdown-menu
						li: a(href="") Level 2
						li: a(href="") Level 2
						li: a(href="") Level 2
						li: a(href="") Level 2
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") Level 1
					ul.dropdown-menu
						li: a(href="") Level 2
						li: a(href="") Level 2
						li: a(href="") Level 2
						li: a(href="") Level 2
						li: a(href="") Level 2
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") Level 1
					ul.dropdown-menu
						li: a(href="") Level 2
						li: a(href="") Level 2
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") Level 1
					ul.dropdown-menu
						li: a(href="") Level 2
						li: a(href="") Level 2
						li: a(href="") Level 2
				li: a(href="") Only Level 1
		li.dropdown
			a.dropdown-toggle(href="#", data-toggle="dropdown") Layout <i class="fa fa-chevron-down"></i>
			ol.dropdown-menu
				li: a(href="section.php") 1. Section
				li: a(href="grid.php") 2. Grid
				li: a(href="panel.php") 3. Panel
				li: a(href="post.php") 4. Posts
		li.dropdown
			a.dropdown-toggle(href="#", data-toggle="dropdown") Forms <i class="fa fa-chevron-down"></i>
			ul.dropdown-menu
				li: a(href="form-layout.php") Form Layouts
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") Form Elements
					ul.dropdown-menu
						li: a(href="button.php") Buttons
						li: a(href="checkbox-radio.php") Checkboxes & Radios
						li: a(href="datetimepicker.php") Date Time Picker
						li: a(href="editor.php") Editor
						li: a(href="inputfile.php") Input Files
						li: a(href="mask-input.php") Mask Input
						li: a(href="select.php") Selects
						li: a(href="tag.php") Tags
		li.dropdown
			a.dropdown-toggle(href="#", data-toggle="dropdown") Components <i class="fa fa-chevron-down"></i>
			ul.dropdown-menu
				li: a(href="accordion.php") Accordions
				li: a(href="drag-drop.php") Drag & Drop
				li: a(href="fonticon.php") Font Icons
				li: a(href="label.php") Labels
				li: a(href="modal.php") Modal
				li: a(href="notification.php") Notification
				li: a(href="tab.php") Tabs
				li: a(href="toggle.php") Toggles
				li: a(href="tooltip.php") Tooltip
		li: a(href="table.php") Table
		li: a(href="todo.php") เหลือที่ต้องทำ
		li: a(href="source.php") Sources

