doctype html
html(lang="en", class="no-js")
	head

		//- Meta include
		- var title = "Labels";
		include meta

	body

		.wrapper

			//- Adminbar include
			//- include adminbar

			//- Header include
			include header

			//- Sidebar Left include
			//- include sidebarleft

			// Main
			main.main

				// Page Topic
				.topbar
					h1 <i class="fa fa-bullseye"></i> Labels

				section.content

					section.section.section-base

						.container-fluid
							.row

								.col-md-4
									.panel.panel-default
										.panel-heading.separator
											h2.panel-title Labels
										.panel-body
											h5._mb-5 Inline Label
											.label.label-default Default
											.label.label-primary Primary
											.label.label-success Success
											.label.label-info Info
											.label.label-warning Warning
											.label.label-danger Danger
											hr
											h5._mb-5 Inline Label with Text
											h6 Example heading <span class="label label-default">New</span>
											p Example paragraph Example Example paragraph <span class="label label-default">New</span>
											hr
											h5._mb-5 Block Label
											.label.label-default.label-block Default Default Default Default Default Default Default
											.label.label-primary.label-block Primary Primary Primary PrimaryPrimaryPrimary Primary Primary
											.label.label-success.label-block Success Success Success Success Success Success
											.label.label-info.label-block Info Info Info Info Info InfoInfo InfoInfo Info Info InfoInfoInfo
											.label.label-warning.label-block Warning Warning Warning Warning Warning Warning Warning Warning WarningWarningWarning
											.label.label-danger.label-block Danger Danger Danger Danger Danger DangerDangerDanger DangerDangerDanger Danger

								.col-md-3
									.panel.panel-default
										.panel-heading.separator
											h2.panel-title Badges
										.panel-body
											h5._mb-5 Link
											a(href="") Shopping Cart <span class="badge">42</span>
											hr
											h5._mb-5 Button
											button.btn.btn-default ภาษาไทย <span class="badge">42</span>
											button.btn.btn-default Default <span class="badge">42</span>
											button.btn.btn-primary Primary <span class="badge">42</span>
											button.btn.btn-success Success <span class="badge">42</span>
											button.btn.btn-info Info <span class="badge">42</span>
											button.btn.btn-warning Warning <span class="badge">42</span>
											button.btn.btn-danger Danger <span class="badge">42</span>
											a.btn.btn-link Link <span class="badge">42</span>

								.col-md-5
									.panel.panel-default
										.panel-heading.separator
											h2.panel-title Alerts
										.panel-body
											.alert.alert-success <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
											.alert.alert-info <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
											.alert.alert-warning <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too good</a>.
											.alert.alert-danger <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.

								//- Footer include
								include footer

			//- Sidebar Right include
			//- include sidebarright

		//- Script inclide
		include script
