doctype html
html(lang="en", class="no-js")
	head

		//- Title
		title Request Password

		//- Meta
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="author", content="Donjai Media Plus")

		//- OGP
		meta(property="og:title", content="NimdA - Administrator")
		meta(property="og:description", content="This Administrator Panel will actually make your code better")
		meta(property="og:type", content="website")
		meta(property="og:image", content="http://donjaimediaplus.com/nimda/nimda-ogpimg.png")
		meta(property="og:url", content="http://donjaimediaplus.com/nimda/")

		//- Style
		link(rel="stylesheet", href="assets/plugins/bootstrap/css/bootstrap.min.css")
		//- link(rel="stylesheet", href="assets/plugins/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css")
		//- link(rel="stylesheet", href="assets/plugins/royalslider/royalslider.css")
		//- link(rel="stylesheet", href="assets/plugins/royalslider/skins/default/rs-default.css")
		//- link(rel="stylesheet", href="assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css")
		//- link(rel="stylesheet", href="assets/plugins/nivo-slider/css/nivo-slider.css")
		//- link(rel="stylesheet", href="assets/plugins/nivo-slider/themes/custom/custom.css")
		//- link(rel="stylesheet", href="assets/plugins/owl-carousel/owl.carousel.css")
		//- link(rel="stylesheet", href="assets/plugins/owl-carousel/owl.theme.css")
		//- link(rel="stylesheet", href="assets/plugins/magnific-popup/css/magnific-popup.css")
		//- link(rel="stylesheet", href="assets/plugins/select2/css/select2.min.css")
		//- link(rel="stylesheet", href="assets/plugins/bootstrap-select/css/bootstrap-select.min.css")
		//- link(rel="stylesheet", href="assets/plugins/selectric/selectric.css")
		//- link(rel="stylesheet", href="assets/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")
		//- link(rel="stylesheet", href="assets/plugins/switchery/css/switchery.min.css")
		//- link(rel="stylesheet", href="assets/plugins/icheck/skins/square/_all.css")
		//- link(rel="stylesheet", href="assets/plugins/icheck/skins/square/blue.css")
		//- link(rel="stylesheet", href="assets/plugins/mmenu/dist/css/jquery.mmenu.all.css")
		//- link(rel="stylesheet", href="assets/plugins/mmenu/css/addons/jquery.mmenu.autoheight.css")
		//- link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
		//- link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Roboto:400,300,500,400italic,300italic,500italic,700")
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Exo+2:700")

		link(rel="stylesheet", href="assets/style/css/lostpassword.css")

		//- Script
		script(async, src="assets/script/modernizr/modernizr.min.js")
		//- script(async, defer, src="//www.google.com/recaptcha/api.js")

		link(rel="icon", type="image/png", href="assets/img/favicon.png")

		//- Livereload include
		//- include livereload.html

	body.lostpassword

		.wrapper

			aside.panel-bg(style="background:url(../uploads/login-bg.jpg)")
				.caption
					h2 Lorem ipsum dolor sit amet, consectetur elit.
					p คอนแท็คเบลอวิว เทคเพรส ดยุคสแล็ก คอมเมนท์ ผ้าห่มวอฟเฟิลอึมครึมเอาท์ดอร์เพาเวอร์ แล็บวาทกรรม เทคโนเครปสกายริคเตอร์ มาร์กฟรังก์คอนเซ็ปต์โต๊ะจีนแฟร์

			main.panel-lostpassword

				header
					.brand Request Password

				.form(action="")
					.form-group
						label Enter your register email
						input.form-control.mask-email(type="text")
					.form-group
						button.btn.btn-theme(type="submit") Request Password

				footer.footer
					p Copyright © 2016 All right reserved.<br>Created by <a href=""> Donjai Media Plus</a>

		//- Script inclide
		script(src="assets/script/jquery/jquery.min.js")
		script(defer, src="assets/plugins/bootstrap/js/bootstrap.min.js")
		//- script(defer, src="assets/plugins/pace/js/pace.min.js")
		//- script(defer, src="assets/plugins/royalslider/jquery.royalslider.min.js")
		//- script(defer, src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
		//- script(defer, src="assets/plugins/nivo-slider/js/jquery.nivo.slider.pack.js")
		//- script(defer, src="assets/plugins/owl-carousel/owl.carousel.min.js")
		//- script(defer, src="assets/plugins/magnific-popup/js/jquery.magnific-popup.min.js")
		//- script(defer, src="assets/plugins/icheck/js/icheck.min.js")
		//- script(defer, src="assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js")
		//- script(defer, src="assets/plugins/select2/js/select2.min.js")
		//- script(defer, src="assets/plugins/bootstrap-select/js/bootstrap-select.min.js")
		//- script(defer, src="assets/plugins/selectric/jquery.selectric.min.js")
		//- script(defer, src="assets/plugins/selectric/jquery.selectric.placeholder.min.js")
		//- script(defer, src="assets/plugins/switchery/js/switchery.min.js")
		//- script(defer, src="assets/plugins/maskedinput/js/jquery.maskedinput.min.js")
		script(defer, src="assets/plugins/jquery-inputmask/js/min/jquery.inputmask.bundle.min.js")
		//- script(defer, src="assets/plugins/easytabs/jquery.easytabs.min.js")
		//- script(defer, src="assets/plugins/file-input/bootstrap.file-input.js")
		//- script(defer, src="assets/plugins/mmenu/dist/js/jquery.mmenu.all.min.js")
		//- script(defer, src="assets/plugins/mmenu/js/addons/jquery.mmenu.autoheight.min.js")
		//- script(defer, src="assets/plugins/validation/js/jquery.validate.min.js")

		script(defer, src="assets/script/custom/jquery.custom-min.js")
