//- Title
title= title

//- Meta
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="author", content="Donjai Media Plus")

//- SEO
//- meta(name="description", content="")
//- meta(name="keywords", content="")

//- OGP
meta(property="og:title", content="NimdA - Administrator")
meta(property="og:description", content="This Administrator Panel will actually make your code better")
meta(property="og:type", content="website")
meta(property="og:image", content="http://donjaimediaplus.com/nimda/nimda-ogpimg.png")
meta(property="og:url", content="http://donjaimediaplus.com/nimda/")


//- Style
link(rel="stylesheet", href="assets/plugins/bootstrap/css/bootstrap.min.css")
//- link(rel="stylesheet", href="assets/plugins/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css")
//- link(rel="stylesheet", href="assets/plugins/royalslider/royalslider.css")
//- link(rel="stylesheet", href="assets/plugins/royalslider/skins/default/rs-default.css")
link(rel="stylesheet", href="assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")
//- link(rel="stylesheet", href="assets/plugins/nivo-slider/css/nivo-slider.css")
//- link(rel="stylesheet", href="assets/plugins/nivo-slider/themes/custom/custom.css")
//- link(rel="stylesheet", href="assets/plugins/owl-carousel/owl.carousel.css")
//- link(rel="stylesheet", href="assets/plugins/owl-carousel/owl.theme.css")
link(rel="stylesheet", href="assets/plugins/magnific-popup/css/magnific-popup.css")
//- link(rel="stylesheet", href="assets/plugins/select2/css/select2.min.css")
link(rel="stylesheet", href="assets/plugins/bootstrap-select/css/bootstrap-select.min.css")
//- link(rel="stylesheet", href="assets/plugins/selectric/selectric.css")
link(rel="stylesheet", href="assets/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")
link(rel="stylesheet", href="assets/plugins/switchery/css/switchery.min.css")
link(rel="stylesheet", href="assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css")
//- link(rel="stylesheet", href="assets/plugins/icheck/skins/square/_all.css")
//- link(rel="stylesheet", href="assets/plugins/icheck/skins/square/blue.css")
link(rel="stylesheet", href="assets/plugins/summernote/summernote.css")
//- link(rel="stylesheet", href="assets/plugins/tablesaw/css/tablesaw.css")
//- link(rel="stylesheet", href="assets/plugins/nouislider/nouislider.min.css")
//- link(rel="stylesheet", href="assets/plugins/mmenu/dist/css/jquery.mmenu.all.css")
//- link(rel="stylesheet", href="assets/plugins/mmenu/css/addons/jquery.mmenu.autoheight.css")
link(rel="stylesheet", href="assets/plugins/animate/animate.min.css")
//- link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
//- link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Roboto:400,300,500,400italic,300italic,500italic,700")
link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Exo+2:700|Roboto:400,500,700")

//- <!--[if gte IE 8]>
//- link(rel="stylesheet", href="assets/style/css/ie.css")
//- <![endif]-->

link(rel="stylesheet", href="assets/style/css/stylesheet.css")

//- Script
script(async, src="assets/script/modernizr/modernizr.min.js")
//- script(async, defer, src="//www.google.com/recaptcha/api.js")
//- script(async, defer, src="https://apis.google.com/js/platform.js")

link(rel="icon", type="image/png", href="assets/img/favicon.png")

//- Livereload include
//- include livereload.html
