script(src="assets/script/jquery/jquery.min.js")
script(defer, src="assets/plugins/bootstrap/js/bootstrap.min.js")
script(defer, src="assets/plugins/pace/js/pace.min.js")
//- script(defer, src="assets/plugins/royalslider/jquery.royalslider.min.js")
script(defer, src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")
//- script(defer, src="assets/plugins/nivo-slider/js/jquery.nivo.slider.pack.js")
//- script(defer, src="assets/plugins/owl-carousel/owl.carousel.min.js")
script(defer, src="assets/plugins/magnific-popup/js/jquery.magnific-popup.min.js")
//- script(defer, src="assets/plugins/icheck/js/icheck.min.js")
script(defer, src="assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js")
//- script(defer, src="assets/plugins/select2/js/select2.min.js")
script(defer, src="assets/plugins/bootstrap-select/js/bootstrap-select.min.js")
//- script(defer, src="assets/plugins/selectric/jquery.selectric.min.js")
//- script(defer, src="assets/plugins/selectric/jquery.selectric.placeholder.min.js")
script(defer, src="assets/plugins/switchery/js/switchery.min.js")
script(defer, src="assets/plugins/noty/jquery.noty.packaged.min.js")
script(defer, src="assets/plugins/jquery-inputmask/js/min/jquery.inputmask.bundle.min.js")
script(defer, src="assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js")
//- script(defer, src="assets/plugins/easytabs/jquery.easytabs.min.js")
//- script(defer, src="assets/plugins/file-input/bootstrap.file-input.js")
//- script(defer, src="assets/plugins/summernote/summernote.min.js")
//- script(defer, src="assets/plugins/summernote/plugin/image-attributes/summernote-image-attributes.js")
//- script(defer, src="assets/plugins/summernote/plugin/cleaner/summernote-cleaner.js")
script(defer, src="assets/plugins/nestable/jquery.nestable.js")
script(defer, src="assets/plugins/ckeditor/ckeditor.js")
script(defer, src="assets/plugins/ckeditor/adapters/jquery.js")
script(defer, src="assets/plugins/ckfinder/ckfinder.js")
//- script(defer, src="assets/plugins/tablesaw/js/tablesaw.js")
//- script(defer, src="assets/plugins/tablesaw/js/tablesaw-init.js")
//- script(defer, src="assets/plugins/nouislider/nouislider.min.js")
//- script(defer, src="assets/plugins/mmenu/dist/js/jquery.mmenu.all.min.js")
//- script(defer, src="assets/plugins/mmenu/js/addons/jquery.mmenu.autoheight.min.js")
//- script(defer, src="assets/plugins/validation/js/jquery.validate.min.js")

script(defer, src="assets/script/custom/jquery.custom-min.js")
script(defer, src="assets/script/custom/jquery.notification-min.js")
//- script(defer, src="assets/script/custom/jquery.dnd-min.js")
