doctype html
html(lang="en", class="no-js")
	head

		//- Meta include
		- var title = "Todo";
		include meta

	body

		.wrapper

			//- Adminbar include
			//- include adminbar

			//- Header include
			include header

			//- Sidebar Left include
			//- include sidebarleft

			// Main
			main.main

				// Page Topic
				.topbar
					h1 <i class="fa fa-hand-lizard-o"></i> Todo

				section.content

					section.section.section-base

						.container-fluid
							.row

								.col-xs-6

									.panel.panel-default
										.panel-body

											ul
												li Form Elements
													ul
														li <s>Date Picker</s>
														li <s>Time Picker</s>
														li Form Validate
														li <s>Mask Input</s>
														li <s>Tags</s>
														li <s>Input file</s>
														li <s>Editor</s>
												li Components
													ul
														li Typography
														li <s>Toggle Switch</s>
														li <s>Notifications</s>
														li <s>Tabs</s>
														li <s>Accordions</s>
														li <s>Modals</s>
														li <s>Font Icons</s>
														li <s>Lightbox</s>
												li <s>Table</s>
												li <s>Log in</s>
												li <s>Register</s>
												li <s>Log off (with PIN access)</s>
												li <s>Lost password</s>
												li <s>Drag & Drop</s>
												li Ajax Image Uploader

								.col-xs-6

									.panel.panel-default
										.panel-body

												ul(style="margin-left:20px")
													li Vertical Left Menu
													li Option Menu (Access with Contra <i class="fa fa-long-arrow-up"></i> <i class="fa fa-long-arrow-up"></i> <i class="fa fa-long-arrow-down"></i> <i class="fa fa-long-arrow-down"></i> <i class="fa fa-long-arrow-left"></i> <i class="fa fa-long-arrow-right"></i> <i class="fa fa-long-arrow-left"></i> <i class="fa fa-long-arrow-right"></i> and PIN)
													li Log in Screen from center
													li <s>Loading Screen</s>
													li Submit Screen
													li Joyride http://zurb.com/playground/jquery-joyride-feature-tour-plugin
													li Header on scroll
													li To Top
													li เปลี่ยนภาษาของระบบ
													li แก้ dropdown hover



						//- Footer include
						include footer

			//- Sidebar Right include
			//- include sidebarright

		//- Script inclide
		include script
