/* TAB
---------------------------------------*/

.section ul.nav-tabs {
	margin: 0;
}
.section ul.nav-pills {
	margin: 0 0 10px;
}

.the-tabs {
	.tab-pane {
		.panel {
			border-top: none;
			@include border-radius(0 0 4px 4px);
		}
	}
}
.tab-pane {
	.panel .panel-heading {
		padding-top: 35px;
		.panel-title {
			font-family: $font-boon600;
			font-size: 1.7em;
		}
	}
}

.nav-tabs {
	margin: 0;
	> li {
		> a {
			&:hover, &:focus {
				background-color: #F5F5F5;
			}
		}
		&.pull-right {
			> a {
				margin-right: 0;
			}
		}
	}
}

.nav-pills {
	margin: 0;
	> li {
		> a {
			border: 1px solid transparent;
			padding: 5px 10px;
			&:hover, &:focus {
				background-color: #F5F5F5;
				border-color: #EEE;
			}
		}
		&.pull-right {
			> a {
				margin-right: 0;
			}
		}
		&.active {
			> a, > a:hover, > a:focus {
				background-color: $theme-color;
				border-color: $theme-color;
			}
		}
	}
}

/* SIDE TAB */
.tabs-left, .tabs-right {
	border-bottom: none;
	> li {
		float: none;
		margin-bottom: 2px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	~ .tab-content {
		overflow: hidden;
	}
}
.tabs-left {
	border-right: 1px solid #ddd;
	float: left;
	margin-right: -1px !important;
	> li {
		margin-right: -1px;
		> a {
			margin-right: 0;
			@include border-radius(4px 0 0 4px);
			&:hover, &:focus {
				background-color: #F5F5F5;
			}
		}
		&.active {
			> a, > a:hover, > a:focus {
				border-bottom-color: #ddd;
				border-right-color: transparent;
			}
		}
	}
	~ .tab-content {
		.tab-pane {
			.panel {
				border-top: 1px solid #ddd;
				@include border-radius(0 4px 4px 0);
			}
		}
	}
}
.tabs-right {
	border-left: 1px solid #ddd;
	float: right;
	margin-left: -1px !important;
	> li {
		margin-left: -1px;
		> a {
			margin-right: 0;
			@include border-radius(0 4px 4px 0);
			&:hover, &:focus {
				background-color: #F5F5F5;
			}
		}
		&.active {
			> a, > a:hover, > a:focus {
				border-bottom: 1px solid #ddd;
				border-left-color: transparent;
			}
		}
	}
	~ .tab-content {
		.tab-pane {
			.panel {
				border-top: 1px solid #ddd;
				@include border-radius(4px 0 0 4px);
			}
		}
	}
}


